* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 25%;
}

body,
input,
button {
  font-family: Inter;
}

body {
  font-size: 4rem;
  background-color: #f7f7f7;
}

button {
  border: none;
}

button,
input {
  outline: none;
  border-radius: 0;
}

ul {
  list-style: none;
}

#root {
  height: 100vh;
}
